<header class="header">
    <div class="wrapper">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a 
                    routerLinkActive="active"
                    routerLink="./all-kitties"
                    class="header__item-link"
                    >Все котики</a>
                </li>
                <li class="header__item">
                    <a
                    routerLinkActive="active"
                    routerLink="./favorites-kitties"
                    class="header__item-link"
                    >Любимые котики</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
  